form fieldset {
    display: inline;
}


/* deprecated code*/


/*form label {
    float: left;
    width: 5em;
    text-align: right;
    font-size: smaller;
}
form input {
    margin-left: 1em;
    margin-bottom: .5em;
}*/

select {
    margin-left: 1em;
    margin-bottom: .5em;
}

#button {
    margin-left: 7em;
}

label {
    float: left;
    clear: left;
    width: 10em;
    text-align: right;
}

input {
    float: left;
}

textarea {
    width: 30em;
    height: 6em;
}