body {
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
    line-height: 1.5em;
    background-color: rgb(58, 57, 57);
}
header {
    background-image: url("../img/jungtex2.jpg");
    background-repeat: repeat;
    background-color: #cccccc;
    height: 100px;
    color: white;
    text-align: center;
}
header h1 {
    margin: 0;
    padding-top: 15px;
    text-shadow: 3px 2px black;
}
links a {
    color: rgb(197, 197, 197);
    text-shadow: 3px 2px rgb(0, 0, 0);
}
.texshadow {
    text-shadow: 3px 2px black;
}
main {
    color: white;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}
main p {
    color: white;
}

nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 230px;
    margin-left: -230px;
    background-color: #000000;
    clear: right;
}
nav img {
    padding-top: 1em;
    width: 100%;
}
nav h3 {
    color: white;
}
nav p {
    color: #555;
}
footer {
    clear: left;
    width: 100%;
    background-color: rgb(50, 80, 18);
    text-align: center;
    padding: 4px 0;
}
footer p {
    color: white;
}
#wrapper {
    overflow: hidden;
}
#stuff {
    margin-right: 230px;
    float: left;
}
.pads {
    margin: 15px;
    margin-top: 0;
}